name: Deploy Frontend
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker HUB

      - uses: docker/login-action@v2
      - with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
 
      - run: docker build -t sagarlimbu0/react-test -f Dockerfile.dev .
      - run: docker run -e CI=true sagarlimbu0/react-test npm run test -- --coverage
