name: Deploy Frontend App
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v3 

      - 
        name: Login to Docker HUB
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
 
      - run: docker build -t sagarlimbu0/react-test -f Dockerfile.dev .
      - run: docker run -e CI=true sagarlimbu0/react-test npm test

      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*'

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v18

        with:
          aws_acess_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: docker-react-elasticbeanstalk
          environment_name: Dockerreactelasticbeanstalk-env
          existing_bucket_name: elasticbeanstalk-us-east-1-398845475087
          region: us-east-1
          version_label: ${{ github.sha }}
          deployment_package: deploy.zip
